*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: black;
    color: white;
}


/*grid system (1296px + 30px 左右留白)*/

.container {
    margin: 0 auto;
    max-width: 1326px;
    padding: 0 15px
}

.d-flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.col-4 {
    width: 33.3333%;
    flex: 0 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 50%;
    flex: 0 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8 {
    width: 66.6666667%;
    flex: 0 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    flex: 0 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

::placeholder {
    color: #919191;
    font-size: 16px;
    line-height: 1.5;
}

.ms-25 {
    margin-left: 25px;
}

.ms-32 {
    margin-left: 32px;
}

.me-14 {
    margin-right: 14px;
}

.me-20 {
    margin-right: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-160 {
    margin-bottom: 160px;
}

.mb-238 {
    margin-bottom: 238px;
}

.ml-12 {
    margin-left: 12px;
}

.ml-20 {
    margin-left: 20px;
}

.py-160 {
    padding-top: 160px;
    padding-bottom: 160px;
}

.pb-12 {
    padding-bottom: 12px;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.bg-white {
    color: #020202;
    background-color: white;
}

.display-1 {
    font-size: 160px;
}

.display-2 {
    font-size: 120px;
}

.display-3 {
    font-size: 80px;
}

.h1 {
    font-size: 48px;
}

.h2 {
    font-size: 40px;
}

.h3 {
    font-size: 32px;
}

.h4 {
    font-size: 28px;
}

.h5 {
    font-size: 24px;
}

.h6 {
    font-size: 20px;
}

.text-sm {
    font-size: 14px;
}

.text-xs {
    font-size: 12px;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.material-icons {
    vertical-align: bottom;
}

@media (max-width:768) {
    .h1-md {
        font-size: 48px;
    }
    .h2-md {
        font-size: 40px;
    }
    .h3-md {
        font-size: 32px;
    }
    .h4-md {
        font-size: 28px;
    }
    .h5-md {
        font-size: 24px;
    }
    .h6-md {
        font-size: 20px;
    }
}

.logo {
    max-width: 245px
}

.fw-900 {
    font-weight: 900;
}

.fw-700 {
    font-weight: 700;
}

.fw-400 {
    font-weight: 400;
}

.h-100 {
    height: 100% !important;
}

.flex-grow {
    flex-grow: 1 !important;
}

.flex-column {
    flex-direction: column !important;
}

.align-items-center {
    align-items: center !important;
}

.btn {
    cursor: pointer;
    display: flex;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ffffff;
    position: relative;
}

.navbar-menu {
    display: flex;
}

.navbar-btn {
    background-color: transparent;
    border: 0;
    color: #ffffff;
    display: none;
    /* 在電腦版時不顯示 */
}

.navbar-btn:hover {
    transform: scale(1.1);
}

.navbar-collapse {
    display: none;
    /* 在電腦版時不顯示 */
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: calc(100vh - 81px);
    /* 佔滿整個瀏覽器高度扣掉 navbar 高度 */
    background-color: #000000;
    border-top: 1px solid #ffffff;
}

.navbar-collapse a {
    line-height: 1.2;
    margin: 4px 0;
}

.banner a {
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    padding: 20px 40px;
}

.grass-animation {
    overflow: hidden;
}

.grass-animation img:nth-child(1) {
    animation: slide-up 3s cubic-bezier(0.42, 0.3, 0, 1.02) infinite backwards;
}

.grass-animation img:nth-child(2) {
    animation: slide-up 3s cubic-bezier(0.42, 0.3, 0, 1.02) infinite backwards -0.1s;
}

.grass-animation img:nth-child(3) {
    animation: slide-up 3s cubic-bezier(0.42, 0.3, 0, 1.02) infinite backwards -0.2s;
}

.service-item {
    padding: 80px 40px;
    border: 1px solid #525252;
    border-radius: 16px;
    margin-bottom: 20px;
    grid-gap: 1.5em;
}

.price-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #525252;
    border-radius: 16px;
    margin-bottom: 20px;
    grid-gap: 1.5em;
    padding-left: 0px;
    padding-right: 0px;
}

.price-list {
    list-style: inside;
    flex-grow: 1;
}

.service-item,
.price-item:hover {
    border: 1px solid white;
}

.price-footer {
    justify-content: space-between;
    border-top: 1px solid #525252;
    display: flex;
    align-items: center;
    padding: 20px 20px;
    padding-left: 32px;
}

.price-footer p>span {
    color: #919191;
}


/* 來自合作夥伴 */

.enterprise {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    position: relative;
}


/* 隱藏 x 軸 */


/* Hide scrollbar for Chrome, Safari and Opera */

.enterprise::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.enterprise {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.enterprise::after,
.enterprise::before {
    content: "";
    position: sticky;
    width: 196px;
    height: 40px;
    top: 0;
}

.enterprise::before {
    left: 0;
    padding-right: 196px;
    background: linear-gradient(90deg, rgb(0, 0, 0, 1) 0%, rgb(0, 0, 0, 0.8) 50%, rgb(0, 0, 0, 0.1) 100%);
}

.enterprise::after {
    right: 0;
    padding-left: 196px;
    background: linear-gradient(90deg, rgb(0, 0, 0, 1) 0%, rgb(0, 0, 0, 0.8) 50%, rgb(0, 0, 0, 0.1) 100%);
    transform: rotate(-180deg);
}

.enterprise li:not(:last-child) {
    margin-right: 20px;
}

.enterprise img {
    width: 160px;
    height: 40px;
    max-width: initial;
}

.recommand-item {
    border: 1px solid rgba(0, 0, 0, .125);
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    padding: 40px 40px;
    gap: 20px;
}

.recommand-info {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recommand-footer {
    display: flex;
}

.recommand-footer img {
    width: 48px;
    height: 48px;
}

.application {
    border-radius: 160px;
}

.application-search {
    background: #F2F2F2;
    border-radius: 16px;
    padding: 20px 40px;
}

.application-search span {
    color: #919191;
    margin-right: 15px;
}

.application-search input {
    width: 100%;
    background-color: #f2f2f2;
    border: none;
}

.application-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.application-navbar button {
    padding: 20px 40px;
    border: 1px solid #F2F2F2;
    border-radius: 16px;
    background: #FFFFFF;
    color: #020202;
}

.application-list li a {
    color: #919191;
    padding: 8px 16px;
}

.application-list li .active {
    background-color: #F2F2F2;
    color: #020202;
    border-radius: 16px;
    font-weight: 700;
}

.application-item {
    overflow: hidden;
    /* max-width: 416px; */
    border: 1px solid #F2F2F2;
    border-radius: 16px;
    margin-bottom: 24px;
}

.application-img {
    overflow: hidden;
    cursor: pointer;
}

.application-img img {
    transition: 1s;
    width: 100%;
}

.application-img img:hover {
    transform: scale(1.2, 1.2);
    transition: transform 0.3s;
}

.application-content {
    padding: 20px 32px;
}

.application-content>p {
    color: #525252;
}

.application-ai,
.application-tag {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #F2F2F2;
    align-items: center;
    padding: 20px 32px;
}

.application-pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.application-pagination li>a {
    font-weight: 700;
    font-size: 14px;
    color: black;
    width: 48px;
    height: 48px;
    justify-content: center;
}

.application-pagination li>.active {
    background-color: black;
    color: #FFFFFF;
    border-radius: 16px;
}

.start-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    text-align: center;
}

.start-service a {
    font-size: 20px;
    padding: 20px 32px 20px 40px;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
}

.border-top {
    border-top: 1px solid #FFFFFF;
}


/* 常見問題區塊 */

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.qa-item {
    padding: 20px 40px;
    border: 1px solid #525252;
    border-radius: 16px;
    display: flex;
    margin-bottom: 16px;
    cursor: pointer;
    line-height: 1.2;
    transition: box-shadow 0.15s ease-in-out;
}

.qa-item.active {
    border: 2px solid #FFFFFF;
}

.qa-item:hover {
    border-color: #ffffff;
}

.collapse-content p {
    line-height: 1.5;
    display: none;
    margin-top: 20px;
}

.collapse-content p.show {
    display: block;
}

.question-title {
    line-height: 1.2;
    transition: all 0.3s;
}

.question .expanded {
    margin-bottom: 20px;
}

.botton-navbar {
    padding: 80px 0px;
}

.footer {
    position: relative;
    width: 100%;
    padding: 32px 0;
}

.footer-row {
    position: absolute;
    margin-left: 300px;
}

.scrollToTop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-100%);
        opacity: 0;
    }
    75% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 100%;
    }
    .application-filter {
        order: 1;
    }
    .application-list {
        order: 3;
    }
    .application-order {
        order: 2;
    }
    .col-2 {
        width: 50%;
        margin-bottom: 10px;
    }
    .col-4,
    .col-6,
    .col-8 {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    .col-4,
    .col-6,
    .col-8 {
        width: 100%;
        margin-bottom: 10px;
    }
    .navbar-btn {
        display: block;
    }
    .navbar-menu {
        display: none;
    }
    .navbar-collapse.show {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-row {
        position: absolute;
        top: 30px;
        left: 0px;
        margin-left: 0;
        padding-left: 0;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }
    .service-item {
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 24px;
    }
}